@font-face {
    font-family: 'Retro';
    src: url('retro.ttf');
}


@font-face {
    font-family: '8-Bit';
    src: url('8-bit-hud.ttf');
}

body{
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Retro';
}

.background{
    font-family: '8-Bit';
    background-size: cover;
    background-attachment: fixed;
    background-image: url('homepg.jpg');
    
}


.mainback{
    font-family: '8-Bit';
    background-color: rgb(9, 1, 48);
}

.Color{
    color: yellow;
}



.Colorr{
    color: white;
    opacity: 0.75;
}

@media screen and (max-width: 377px) {
    #logo {
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 100px;
      height: 40px;
    }
    .Color{
        font-size: 32px;
    }
  }


.secnav{
    padding: 6px 20px;
    font-size: 12px;
}

.nav1 a:hover{
    color: rgb(122, 122, 2);
    transition: 0.6s ease;
}

.nav1{
     margin-right: 350px;
}

.nav1 a#active{
    color: rgb(122, 122, 2);
}

#Games{
    filter: invert(100%);
    height: 270px;
    
}

#Music{
    filter: invert(100%);
    height: 270px;
    
}

#logobottom{
    height: 50px;
}

.footercolor{
    background-color: rgb(9, 1, 48);
    font-family: '8-Bit';
    font-size: 2px;
}

#Movies{
    filter: invert(100%);
    height: 270px;
    
}

#centerlogo{
    height: 600px;
    width: 1200px;
}
